.footer {
    font-size: 12px;
    color: #dff6ff;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #06283d;
}

.footer__desarrolladopor {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.footer__secciones {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__secciones ul li{
    margin-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 14px;
    }
}
